@model PENPAL.VM.UserManagement.TransactionSettingModel
<style type="text/css">
    input[type="checkbox"] {
        margin: 4px 0 0;
        line-height: normal;
    }
</style>
@if (Model != null)
{

    <div class="box box-solid box-primary" style="margin-bottom:0px;">
        <div class="box-header">
            @if (Model.Id > 0)
            {
                <h3 class="box-title">
                    View Transaction Setting
                </h3>
            }

        </div>
        <div class="box-body" style="max-height:700px;overflow-y:auto;overflow-x:hidden">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.HiddenFor(r => Model.Id)

            <div class="row">
                <div class="col-xs-6">

                    @*<div class="row">
                            <label for="txtSubCompany" class="control-label col-xs-4">Transaction Per Day</label>
                            <div class="col-xs-8">

                                @Html.TextBoxFor(m => m.TransactionPerDay, new { @class = "form-control", @placeholder = "Transaction Per Day ", @readonly = "readonly" })
                                <p>
                                    @Html.ValidationMessageFor(m => m.TransactionPerDay)
                                </p>
                            </div>
                        </div>*@

                    <div class="row">
                        <label for="txtSubCompany" class="control-label col-xs-6">Minimum Amount For Transaction ($)</label>
                        <div class="col-xs-6">

                            @Html.TextBoxFor(m => m.MinimumAmountForTransaction, new { @class = "form-control", @placeholder = "Minimum Amount For Transaction", @readonly = "readonly" })
                            <p>
                                @Html.ValidationMessageFor(m => m.MinimumAmountForTransaction)
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <label for="txtSubCompany" class="control-label col-xs-6">Service Tax Per Transaction</label>

                        <div class="col-xs-6">
                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.ServiceTaxPerTransaction, new { @class = "form-control", @width = "20px", @placeholder = "Service Tax Per Transaction", @readonly = "readonly" })
                                    </td>
                                    <td> @Html.Label("%")</td>
                                </tr>
                            </table>
                        </div>


                    </div>

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <label for="txtPaypalMargin" class="control-label col-xs-5">PayPal Margin</label>
                        <div class="col-xs-4">
                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.PayPalMargin, new { id = "txtPaypalMargin", @class = "form-control", @maxlength = "3", @placeholder = "PayPal Margin", @readonly = "readonly" })
                                    </td>
                                    <td style="padding-left:3px"> @Html.Label("%")</td>

                                </tr>

                            </table>
                            <p>
                                @Html.ValidationMessageFor(m => m.PayPalMargin)
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <label for="txtCoinbaseMargin" class="control-label col-xs-5">Coinbase Margin</label>
                        <div class="col-xs-4">
                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.CoinbaseMargin, new { id = "txtCoinbaseMargin", @class = "form-control", @maxlength = "3", @placeholder = "Coinbase Margin", @readonly = "readonly" })
                                    </td>
                                    <td style="padding-left:3px"> @Html.Label("%")</td>

                                </tr>

                            </table>
                            <p>
                                @Html.ValidationMessageFor(m => m.CoinbaseMargin)
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <label for="txtCoinbaseSendLimit" class="control-label col-xs-6">Coinbase Send Limit</label>
                        <div class="col-xs-4">
                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.CoinbaseSendLimit, new { id = "txtCoinbaseSendLimit", @class = "form-control", @maxlength = "3", @placeholder = "Coinbase Send Limit", @readonly = "readonly" })
                                    </td>
                                    <td style="padding-left:3px"> @Html.Label("USD")</td>

                                </tr>

                            </table>
                            <p>
                                @Html.ValidationMessageFor(m => m.PayPalMargin)
                            </p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <label for="txtMinimumAmountForPayPalTransaction" class="control-label col-xs-6">Minimum Amount For PayPal Transaction</label>
                        <div class="col-xs-4">
                            <table>
                                <tr>
                                    <td>
                                        @Html.TextBoxFor(m => m.MinimumAmountForPayPalTransaction, new { id = "txtMinimumAmountForPayPalTransaction", @class = "form-control", @maxlength = "3", @placeholder = "Minimum Amount For PayPal Transaction", @readonly = "readonly" })
                                    </td>
                                    <td style="padding-left:3px"> @Html.Label("USD")</td>
                                </tr>
                            </table>
                            <p>
                                @Html.ValidationMessageFor(m => m.MinimumAmountForPayPalTransaction)
                            </p>
                        </div>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <div class="row">
                        <label for="txtEnableAddPayPal" class="control-label col-xs-5">Enable Add PayPal</label>
                        <div class="col-xs-5">
                            @Html.CheckBoxFor(m => m.EnableAddPayPal, new { id = "txtEnableAddPayPal", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <label for="txtEnableWithdrawPayPal" class="control-label col-xs-7">Enable Withdraw PayPal</label>
                        <div class="col-xs-5">
                            @Html.CheckBoxFor(m => m.EnableWithdrawPayPal, new { id = "txtEnableWithdrawPayPal", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="row">
                        <label for="txtEnableAddCoinbase" class="control-label col-xs-5">Enable Add Coinbase</label>
                        <div class="col-xs-5">
                            @Html.CheckBoxFor(m => m.EnableAddCoinbase, new { id = "txtEnableAddCoinbase", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <label for="txtEnableAddCoinbase" class="control-label col-xs-6">Enable Add Coinbase</label>
                        <div class="col-xs-6">
                            @Html.CheckBoxFor(m => m.EnableAddCoinbase, new { id = "txtEnableAddCoinbase", @disabled = "disabled" })
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                </div>
            </div>*@
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-12 text-right">
                    @if (ViewBag.IsUpdate == true)
                    {
                        <button type="submit" class="btn btn-primary">Save</button>
                    }
                    <a class="btn btn-default" data-popup-close="popup" href="#" onclick="ClosePopup();">Cancel</a>
                </div>
            </div>
        </div>
    </div>

}
